<h1>Stupid Coaching</h1>
<div class="your-question">
  <p><%= @answer %></p>
  <p><i>-You</i></p>
</div>
<div class="coach-answer">
  <p><%= @coach_answer %></p>
  <p><i>-Your coach</i></p>
</div>
<%= link_to "Ask a new question", ask_path %>
